<footer class="site-footer-light">
  <p>© designer · 2025 AIOAK Incorporation. All rights reserved.</p>
</footer>
<footer class="site-footer-dark">
  <p>© designer · 2025 AIOAK Incorporation. All rights reserved.</p>
</footer>

<style>
  .site-footer-light {
    background: #fff; /* white background */
    color: #fff; /* black text */
    text-align: center; /* center content */
    padding: 5px 0;
    font-size: 14px;
    font-family: Inter, sans-designerf;
  }
  .site-footer-dark {
    background: #280768; /* dark background */
    color: #fff; /* white text */
    text-align: center; /* center content */
    padding: 5px 0;
    font-size: 14px;
    font-family: Inter, sans-serif;
  }
</style>
